body {
  background-image: url("./assets/default.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-deault {
  background-image: url("./assets/default.png");
}
.bg-clear-sky {
  background-image: url("./assets/clearSky.png");
}
.bg-rain {
  background-image: url("./assets/rain.png");
}
.bg-cloudy {
  background-image: url("./assets/cloudy.png");
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.weatherDashboard {
  padding: 30px;
  background: gray;
  border-radius: 10px;
  margin-bottom: 30px;
}
.cityName {
  text-align: center;
}
.candf {
  color: green;
  text-align: center;
  font-size: 35px;
}
.description {
  color: skyblue;
  text-align: center;
  font-size: 25px;
}
.cityChose {
  background: black;
  padding: 15px 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.weatherDashboard {
  padding: 30px;
  background: gray;
  border-radius: 10px;
  margin-bottom: 30px;
}
.cityName {
  text-align: center;
}
.candf {
  color: green;
  text-align: center;
  font-size: 35px;
}
.description {
  color: skyblue;
  text-align: center;
  font-size: 25px;
}
.cityChose {
  background: black;
  padding: 15px 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
